.fold__bg--home{
	background: url(../images/eagle.png) no-repeat scroll center center transparent;
}
.seccion__devices{
	position: relative;
}
.seccion__devices__header{
	padding-top: 95px;
	height: 850px;
	background: url(../images/landscape.jpg) no-repeat scroll center center $COLOR-CONCRETE;
	background-size: cover;
}
.device__border{
	width: 100%;
	height: 130px;
	bottom: 0;
    position: absolute;
    background-color: $COLOR-WHITE;
}
.device__iphone,
.device__ipad{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0

}
.device__iphone{
	right: -475px;
}