.main-footer{
	padding-top: 35px;
	background-color: $COLOR-ALABASTER;
}

.main-footer__title{
	font-size: em(46);
	color: $COLOR-SILVER;
	padding-bottom: 20px;
}

.main-footer__wrapper{
	max-width: 970px;
	padding: 0 15px;
}
.main-footer__col{
	width: calc(50% - 35px);
	display: inline-block;
	padding-bottom: 40px;
	float: left;
}
	.main-footer__col--disclaimer{
		padding-right: 35px;
		padding-top: 10px;
	}
	.main-footer__col--contact{
		padding-left: 18px;
		margin-left: 17px;
		min-height: 102px;

	}
@media (max-width: 1030px){

	.main-footer__col{
	    width: 50%;
	    padding-left: 0;
	    padding-right: 0;
	    margin-left: 0;
	}
}
@media (max-width: 793px){
	.main-footer__col{
		width: 100%;
	}
}
.main-footer__col--contact,
.main-footer__copyright{
	border-top: 1px solid $COLOR-MERCURY;

}

.main-footer__copyright,
.main-footer__copyright p{
	height: 70px;
	line-height: 70px;

}

.main-footer__copyright a{
	color: $COLOR-NEW-YORK-PINK;
}

.main-footer__social{
	height: 60px;
	a,
	li{
		display: inline-block;
		line-height: 60px;
	}
	a{
		padding: 0 19px;
		color: $COLOR-AQUA-ISLAND;
	}
}
