.main-header{
	width: 100%;
	height: 90px;
	line-height: 90px;
	position: absolute;
	text-align: left;
	z-index: 1;
	overflow: hidden;
}
.main-header__logo{
	font-size: em(30);
}
.main-header__logo,
.main-header__nav{
	display: inline-block;
	text-align: center;
}
.main-header__nav{
	float: right;
	a{
		color: $COLOR-WHITE;
		float: left;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			bottom: 24px;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: transparent;
			@include transform(translateY(20px));
			@include transition(all .75s $ease-out-expo);
		}
		&.active{
			background-color: $COLOR-WILD-RICE;
		}
	}
}
.main-header__a{
	margin: 0 27px;
	padding: 0 3px;
	@include transition(color .75s $ease-out-expo);
	&:last-child{
		margin-right: 0;
		padding-right: 0;
	}
}
.main-header__logo a,
.main-header__b{
	@include transition(opacity .75s $ease-out-expo);
}
.main-header__b{
	padding: 0 20px;
	&:last-child{
		padding-right: 0;
	}
}
@media (min-width: 768px){
	.main-header__a{
		&:hover{
			color: $COLOR-WILD-RICE;
			&:after{
				@include transform(translateY(0));
				background-color: $COLOR-WILD-RICE;
			}
		}
	}
	.main-header__logo a,
	.main-header__b{
		&:hover{

			opacity: .6;
		}
	}
}