article.section.top-offset
	.seccion__devices
		+headerSection('For all devices', 'UNIQUE DESIGN', '' )

	img.device__ipad(src="../images/ipad.png", width='', height='713', alt='ipad')
	.device__border
	img.device__iphone(src='../images/iphone.png', width='275', height='iphone')