.logos
    .container
        +logosCol('title', 'http://placehold.it/150x120')
        +logosCol('title', 'http://placehold.it/150x120')
        +logosCol('title', 'http://placehold.it/150x120')
        +logosCol('title', 'http://placehold.it/150x120')
        +logosCol('title', 'http://placehold.it/150x120')