footer.main-footer
    h3.main-footer__title.bold MoGo

    .main-footer__wrapper.center-block

        aside.main-footer__col.main-footer__col--disclaimer.text-left
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        
        .main-footer__col.main-footer__col--contact
            ul.main-footer__social.light--italic
                li Follow Us
                li: a(href='#', title='Go to ') fa
                li: a(href='#', title='Go to ') tw
                li: a(href='#', title='Go to ') in
                li: a(href='#', title='Go to ') yt
            form.form.center-block(action='#')
                input(type='email', name='email', placeholder='Your Email...', required)
                input.bold(type='submit', value='SUBSCRIBE')
        
        span.clearfix
        aside.main-footer__copyright
            p.thin &copy; 2016 MoGo free PSD template by <a href='#' title='Go to Laaqiq' target='_blank'>Laaqiq</a>