header.main-header
    .container
        h1.main-header__logo
            a(href='#', title='MoGo')
                img(src='images/mogo-logo.png', alt='MoGo')

        nav.main-header__nav
            +mainHeaderBtNav( 'ABOUT', '#' )
            +mainHeaderBtNav( 'SERVICE', '#' )
            +mainHeaderBtNav( 'WORK', '#' )
            +mainHeaderBtNav( 'BLOG', '#' )
            +mainHeaderBtNav( 'CONTACT', '#' )
