header.main-header
    .container
        h1.main-header__logo.bold
            a(href='#', title='MoGo') MoGo

        nav#js-main-header__nav.main-header__nav
            +mainHeaderBtNav( 'ABOUT', '#' )
            +mainHeaderBtNav( 'SERVICE', '#' )
            +mainHeaderBtNav( 'WORK', '#' )
            +mainHeaderBtNav( 'BLOG', '#' )
            +mainHeaderBtNav( 'CONTACT', '#' )
            a.main-header__b(href='#', title='View car'): i.fa.fa-shopping-cart(aria-hidden="true")
            a.main-header__b(href='#', title='Search'): i.fa.fa-search(aria-hidden="true")
