header.main-header
    .container
        h1.main-header__logo.bold
            a(href='#', title='MoGo') MoGo

        nav.main-header__nav
            +mainHeaderBtNav( 'ABOUT', '#' )
            +mainHeaderBtNav( 'SERVICE', '#' )
            +mainHeaderBtNav( 'WORK', '#' )
            +mainHeaderBtNav( 'BLOG', '#' )
            +mainHeaderBtNav( 'CONTACT', '#' )
