$EM-BASE: 14px;
$FONT-BASE: 'Roboto Condensed', sans-serif;
$FONT-THIN: 'Roboto', sans-serif;

// http://chir.ag/projects/name-that-color
$COLOR-NEW-YORK-PINK: #d98080;
$COLOR-SHARA-SAND: #f5e28e;
$COLOR-WILD-RICE: #ead88d;
$COLOR-CARLA: #f0ffd1;
$COLOR-AQUA-ISLAND: #aee0d2;
$COLOR-CONCRETE: #f2f2f2;
$COLOR-JAGGED-ICE: #f2f2f2;
$COLOR-ALABASTER: #f8f8f8;

$COLOR-BLACK: #363636;
$COLOR-WHITE: #fff;
$COLOR-GRAY: #989898;
$COLOR-SILVER: #cccccc;
$COLOR-MERCURY: #e4e4e4;