@mixin fontThin(){
	font-family: $FONT-THIN;
	font-weight: 100;
}
@mixin fontThinItalic(){
	@include fontThin();
	font-style: italic;
}

@mixin fontLight(){
	font-weight: 300;
}


@mixin fontLightItalic(){
	@include fontThin();
	font-style: italic;
}

@mixin fontNormal(){
	font-weight: 400;
}

@mixin fontBold(){
	font-weight: 700;
}

body{
	font-size: $EM-BASE;
	font-family: $FONT-BASE;
	@include fontNormal();
	text-align: center;
	color: $COLOR-BLACK;
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a{
	text-decoration: none;
	color: $COLOR-WHITE;
}
p{
	color: $COLOR-GRAY;
	font-size: em(15);
	line-height: 1.5em;
	letter-spacing: 0.05em;
}
.thin{
	@include fontThin();
}
.thin--italic{
	@include fontThinItalic();
}
.light{
	@include fontLight();
}
.light--italic{
	@include fontLightItalic();
}
.bold{
	@include fontBold();
}
.text-wrapper{
	max-width: 1000px;
}
