.fold{
	height: 100%;
	position: relative;
}
.fold__header{
	width: 100%;
	height: 100%;
	min-height: 500px;
	position: relative;
	top: 0;
	overflow: hidden;
	@include linear-gradient($COLOR-NEW-YORK-PINK, $COLOR-SHARA-SAND);

	.header,
	.bt{
		@include transform(translateY(23px));
		
	}
	.bt span{
		display: inline-block;
		@include transform(scale(1));
		@include transition(all .75s $ease-out-expo);
	}
}

@media (min-width: 768px){
	.fold__header {
		.bt:hover span{
			@include transform(scale(1.2));
		}
	}
}
.fold__bg{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: .1;
}
.fold-content{
	width: 100%;
}
