::-webkit-input-placeholder {
   @include fontLightItalic();
}

:-moz-placeholder {
   @include fontLightItalic();  
}

::-moz-placeholder {
   @include fontLightItalic();  
}

:-ms-input-placeholder {  
   @include fontLightItalic();  
}
.form{
	width: 380px;
}
input{
	margin: 0;
	height: 38px;
	display: inline-block;
	float: left;
	border: 1px solid $COLOR-MERCURY;
	vertical-align:middle;
	white-space:normal;
	outline:0;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	padding: 0 13px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
}
input[type='email']{
	font-size: em(15);
	width: 203px;
	border-right: 0;
}
input[type='submit']{
	border-color: $COLOR-AQUA-ISLAND;
	background-color: $COLOR-AQUA-ISLAND;
	color: $COLOR-WHITE;
	cursor: pointer;
    width: 148px;
    padding: 0;
}
.main-footer__social{
	height: 60px;
	li{
		display: inline-block;
		line-height: 60px;
		padding: 0 19px;
	}
}