.grid__big{
	position: relative;
	width: 100%;
	height: 780px;
	margin-top: 95px;
}
.grid__big__col{
	width: 25%;
	height: 100%;
	float: left;
}
.grid__big__row{
	width: 100%;
	height: 50%;
	background: no-repeat scroll center center transparent;
	background-size: cover;
	position: relative;
	color: $COLOR-WHITE;
}
.grid__big__row--double{
	height: 100%;
}

.grid__big__hover,
.grid__big__gradient{
	opacity: 0;
}

.grid__big__gradient{
	top: 0;
	left: 0;
	@include transition(opacity .15s $ease-out-expo);
	@include linear-gradient($COLOR-NEW-YORK-PINK, $COLOR-SHARA-SAND);
}

.grid__big__icon{
	font-size: em(30);
	padding-bottom: 18px;
	@include transform(translateY(20px));
}

.grid__big__title{
	padding-bottom: 18px;
	@include transform(translateY(80px));
}
.grid__big__subtitle{
	font-size: em(15);
	@include transform(translateY(140px));
}

@media (min-width: 768px){

	.grid__big__row{
		&:hover{

			.grid__big__gradient{
				@include transition(opacity .25s $ease-out-expo);
				opacity: .4;
			}
			.grid__big__hover{
				@include transition(all .75s $ease-out-expo);
				@include transform(translateY(0));
				opacity: 1;
			}
		}
	}
}


@media (max-width: 1024px) {
	.grid__big{
		overflow: hidden;
		height: 600px;
	}
}