.header{
	position: relative;
	margin-bottom: 45px;
	&:after{
		content: '';
		position: absolute;
		width: 60px;
		height: 3px;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		background-color: $COLOR-NEW-YORK-PINK;
	}
}

.header__desc{
	font-size: em(24);
	padding-bottom: 19px;
	position: relative;
}

.header__tit{
	font-size: em(30);
	padding-bottom: 43px;
	position: relative;
}

.header--big{
	&:after{
		background-color: $COLOR-WHITE;
	}
	.header__desc,
	.header__tit{
		color: $COLOR-WHITE;
	}
	.header__desc{
		font-size: em(72);
		@include fontThinItalic();
		padding-bottom: 40px;
	}
	.header__tit{
		font-size: em(150);
		line-height: .97em;
		padding-bottom: 55px;
	}
}