.logos{
	position: relative;
	height: 150px;
	background-color: $COLOR-ALABASTER;
}
.logo__col{
	float: left;
	width: 20%;
	height: 150px;
	text-align: center;
	position: relative;
}
@media (max-width: 1054px) {
	.logo__col{
		img{
			width: 95%;
			height: auto;
		}
	}
}
