.stats{
	background-color: $COLOR-AQUA-ISLAND;
	border-bottom: 3px solid $COLOR-WHITE;
}
.stats__col{
	float: left;
	width: calc(20% - 1px);
	height: 270px;
	color: $COLOR-WHITE;
	border-left: 1px solid $COLOR-JAGGED-ICE;
	&:last-child{
		width: calc(20% - 2px);
		border-right: 1px solid $COLOR-JAGGED-ICE;
	}
}
.stats__number{
	font-size: em(72);
	padding-bottom: 25px;

}
.stats__title{
	line-height: 1.2em;
	padding: 0 10px;
	height: 32px;
}