extends _common/layout/_index

block body
    include home/_header-home
    .fold-content
        include home/_block-1
        include home/_block-2
        .logos
            .container
                +logosCol('title', 'http://placehold.it/150x120')
                +logosCol('title', 'http://placehold.it/150x120')
                +logosCol('title', 'http://placehold.it/150x120')
                +logosCol('title', 'http://placehold.it/150x120')
                +logosCol('title', 'http://placehold.it/150x120')